doctype html
html
	include ../includes/_head
	body
		div.wrap.bg

			.wrapper
				about
					img(src="../assets/img/avatar.jpg", class="avatar")
					span.text
						| Yuri Zheludkov
					span.site
						| Личный сайт веб-разработчика
					nav.welcome
						ul.structura
							li.atrib
								a.robot(href='/works.html') Мои работы
							li.atrib
								a.robot(href='about.html') Обо мне
							li.atrib
								a.robot(href='blog.html') Блог

